<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>device</title>
    <style>
    label{
        font-size: 1.3em;
    }
    </style>
</head>

<div>
<body>
    <div class="jumbotron text-center">
            <h1>import device information</h1>
        </div>
    <form action="/create" method="POST">
        <label for='name'><b>Device Name*:</b></label><br>
          <input type="text" id="name" name="name" placeholder=""><br><br>
        <label for='deviceID'><b>Device ID*:</b></label><br>
            <input type="text" id="deviceID" name="deviceID" placeholder=""     pattern="[0-9]{8}"><br>
        <small>(Only available for number)</small><br><br>
        <label for='type'><b>type*:</b></label><br>
         <input type="text" id="type" name="type" placeholder=""><br><br>
         <label for='price'><b>price:</b></label><br>
            <input type="number" id="number" name="price" placeholder=""><br><br>
        <small>(not smaller than 0)</small><br><br>
        <label for='colour'><b>colour:</b></label><br>
            <input type="text" id="colour" name="colour" placeholder=""><br><br>
        <label for='brand'><b>brand:</b></label><br>
            <input type="text" id="brand" name="brand" placeholder=""><br><br>
        </p>
        <input type="submit" value="Create" /> 
    </form>    
</body>
</div>
</html>
